body {

    display: flex;
    justify-content: center;
    align-items: center;
    

}

.mainFrame{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}