@font-face {
    font-family: "ElmsSans";
    src: url("font/ElmsSans-VariableFont_wght.ttf") format("truetype");
}

body {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

}

.mainFrame{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 30px;

    width: 90%;
    max-width: 327px;
    min-width: 300px;
    height: auto;

    background: #FFFFFF;
    box-shadow: 0px 0px 16px 16px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    overflow: hidden;

}

.lockPic{

    width: 50px;
    margin-bottom: 1rem;

}

.title{

    font-family: ElmsSans;
    font-style: normal;
    font-weight: 800;
    font-size: 1.7rem;
    text-align: center;
    margin: 0%;
    margin-bottom: 0.5rem;
    color: #000000;
    
}

.description{

    font-family: ElmsSans;
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    margin: 0%;
    margin-bottom: 1rem;
    color: #000000;

}

.passwordFrame{

    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 1.8rem;
    padding-right: 1.5rem;
    gap: 1rem;

    width: 100%;
    height: 3rem;

    background: #F2F2FD;
    border: 2px solid #E2E3F3;
    border-radius: 10px;
    overflow: hidden;
}

.password{

    font-family: ElmsSans;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000

}

.copyButton{
    
    height: 35px;
    width: 50px;

    background: #359aff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    

}

.copyButton:hover{

    background: #2e84da;
    box-shadow: 0 8px 18px rgba(149, 149, 149, 0.35);
    transform: translateY(-1px);

}

.copyButton:active{

    background: #2366a9;
    transform: translateY(1px);
    box-shadow: 0 3px 8px rgba(119, 119, 119, 0.35);

}


.lengthFrame{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0%;
    gap: 70%;

    width: 100%;

    background: #FFFFFF;

}

.lengthText{

    font-family: ElmsSans;
    font-weight: 650;
    

}

.valueFrame{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 20px;
    padding: 0.3rem;
    border: 1px solid #d8d8d8;
    border-radius: 8px;

}

.lengthValue{

    font-family: ElmsSans;
    font-weight: 550;
    margin: 0%;
    
    
}

.slider{

    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 999px;
    outline: none;
    cursor: pointer;

}

.slider::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;

    width: 20px;
    height: 20px;

    border: 1px solid rgb(195, 195, 195);
    border-radius: 50%;
    background: #ffffff;

    cursor: pointer;
}

.numFrame{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 90%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
    background: #FFFFFF;

}

.numText{

    font-family: ElmsSans;
    font-weight: 550;
    margin: 0%;
    color: #616060b3;
}

.checkboxMain{

    display: flex;
    flex-direction: column;
    border: 2px solid #E2E3F3;
    border-radius: 13px;
    padding: 1rem;
    width: 90%;
    


}

.checkboxContainer{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    


}

.checkboxContainer input[type="checkbox"]{
    width: 25px;
    height: 25px;
    cursor: pointer;
    accent-color: #298ff6;


}

.checkboxContainer label{

    font-family: ElmsSans;
    font-size: 1.1rem;
    font-weight: 650;
    margin-right: 20px;

}

.checkboxDescContainer{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-right: 1rem;

    font-family: ElmsSans;
    color: #454545fd;
    font-weight: 520;
    font-size: 0.7rem;
    
    
}


